@use './variables' as *;

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin onMaxDesktop {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin base-font-style($f-family, $f-size, $f-weight, $color) {
  font-family: $f-family;
  font-size: $f-size;
  font-weight: $f-weight;
  color: $color;
}

@mixin border-style($border, $b-radius) {
  border: $border;
  border-radius: $b-radius;
}