// Fonts
$mainFont: 'Noto Sans', sans-serif;
$secondaryFont: 'Poppins', sans-serif;
$mainHeaderSize: 50px;
$h3HeaderSize: 30px;
$h4HeaderSize: 25px;
$h5HeaderSize: 20px;
$h6HeaderSize: 17px;
$smallTextSize: 15px;
$spanFontSize: 14px;

// Colors
$textColor: #000000;
$bodyBgrColor: #f8f8f8;
$brandColor: #df4e3c;
$headerSecondaryColor: #aeaeae;
$textOptionColor: #8d8d8d;
$valodationCOlor: #507a36;
$errorColor: #ff2307;
